* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F1F4FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1152px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.intro-form {
  display: flex;
}


/* Hero */
.hero {
  width: 570px;
  height: 640px;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.hero-top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #555;
  background-image: url(../img/hero-top-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 60px 75px;
  flex-grow: 1;

}

.hero-title {
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 41px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 65px;
  color: #fff;
  cursor: pointer;
}

.hero-heading {
  width: 389px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 25px;
}

.hero-text {
  width: 347px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
}

.hero-bottom {
  width: 570px;
  height: 80px;
  background-color: #4DC490;
  text-align: center;
  padding: 29px 145px 28px 144px;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* Form */
.form-block {
  width: 570px;
  height: 640px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 55px 82px 0px 60px;
}

.form-heading {
  width: 428px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #000;
  margin-top: 0;
  margin-bottom: 70px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-top: 0;
  margin-bottom: 35px;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #000;
}

.form-link {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #655AF2;
  margin-top: 0px;
  margin-bottom: 8px;
}

.form-text {
  width: 100%;
  color: #555;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.form-text span{
  color: #F03535;
  text-decoration: underline;
  cursor: pointer;
}